/*** 

====================================================================
		Call To Action
====================================================================

***/

.call-to-action{
    position: relative;
    z-index: 2;
    &.pull-down{
        .outer-box{
            margin-bottom: -70px;
            display: inline-block;
            width: 100%;
        }
    }
    .outer-box{
        position: relative;
        background-color: var(--bg-theme-color1);
        padding: 75px 60px;
        padding-left: 320px;
        margin-top: 60px;
        @include media-breakpoint-down(md){
            padding: 75px 20px 0;
            text-align: center;
        }
        .title-box{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include media-breakpoint-down(lg){
                flex-direction: column;
                align-items: flex-start;
            }
            @include media-breakpoint-down(md){
                align-items: center;
            }
            .title{
                font-size: 40px;
                font-weight: 800;
                color: #fff;
                letter-spacing: -.05em;
                margin-bottom: 0;
                padding-right: 30px;
                @include media-breakpoint-down(lg){
                    padding-right: 0;
                    font-size: 34px;
                    margin-bottom: 20px;
                }
                @include media-breakpoint-down(md){
                    br{display: none;}
                }
            }
        }
        .image-box{
            position: absolute;
            left: 50px;
            bottom: 0;
            @include media-breakpoint-down(md){
                position: relative;
                left: 0;
                text-align: center;
                width: 100%;
                margin-top: 30px;
            }
            .image{
                margin-bottom: 0;
            }
        }
    }
}

/*** 

====================================================================
    Call To Action Two
====================================================================

***/

.call-to-action-two{
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 120px 0;
    .bg{
        &:before{
            @include overlay;
            background: linear-gradient(to top, var(--theme-color1), transparent);
            opacity: .9;
            content: "";
        }
        &.pull-up{
            height: auto;
            bottom: 0;
            top: -275px;
        }
    }
    .title {
        letter-spacing: -.05em;
        margin-bottom: 10px;
    }
    .text{
        position: relative;
        font-size: 18px;
        font-weight: 600;
        color: var(--theme-color2);
        margin-bottom: 40px;
    }
}